.category-btn {
  border-radius: 20px;
  margin: 10px;
  height: auto;
  width: auto;
  outline: none;
  border: none;
  padding: 5px;
  background: #000;
  color: #fff;
}
.category-btn:hover {
  background-color: #830d04;
}
@media screen and (max-width: 900px) {
  .category-btn {
    height: 50px;
    width: 150px;
    display: flex;
    justify-content: flex-start;
  }
}
@media screen and (max-width: 600px) {
  .category-btn {
    height: 50px;
    width: 200px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 3fr);
    /* width: calc(100% / 3); */
  }
}
